pkgbase = python-aiohttp
	pkgdesc = HTTP client/server for asyncio
	pkgver = 3.10.0
	pkgrel = 1
	url = https://aiohttp.readthedocs.io
	arch = x86_64
	license = Apache-2.0
	checkdepends = gunicorn
	checkdepends = python-aiodns
	checkdepends = python-brotli
	checkdepends = python-freezegun
	checkdepends = python-proxy.py
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	checkdepends = python-re-assert
	checkdepends = python-time-machine
	checkdepends = python-trustme
	checkdepends = python-uvloop
	makedepends = cython
	makedepends = git
	makedepends = npm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-aiohappyeyeballs
	depends = python-aiosignal
	depends = python-attrs
	depends = python-frozenlist
	depends = python-multidict
	depends = python-yarl
	optdepends = gunicorn: to deploy using Gunicorn
	optdepends = python-aiodns: for fast DNS resolving
	optdepends = python-brotli: for Brotli transfer-encodings support
	source = python-aiohttp::git+https://github.com/aio-libs/aiohttp#tag=v3.10.0
	source = git+https://github.com/nodejs/llhttp.git
	b2sums = d8953e706641b861b85bd51be22b78146ff6e2ebe924f0c2d99f7c5b927524fcfde41690e49aa19a59e80e7f29a4f1f976d02f0e12e11e794936896e46046dc1
	b2sums = SKIP

pkgname = python-aiohttp
