pkgbase = python-aiohttp
	pkgdesc = HTTP client/server for asyncio
	pkgver = 3.9.3
	pkgrel = 2
	url = https://aiohttp.readthedocs.io
	arch = x86_64
	license = Apache
	checkdepends = gunicorn
	checkdepends = python-aiodns
	checkdepends = python-brotli
	checkdepends = python-freezegun
	checkdepends = python-proxy.py
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	checkdepends = python-re-assert
	checkdepends = python-time-machine
	checkdepends = python-trustme
	checkdepends = python-uvloop
	makedepends = cython
	makedepends = git
	makedepends = npm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-aiosignal
	depends = python-attrs
	depends = python-frozenlist
	depends = python-multidict
	depends = python-yarl
	optdepends = gunicorn: to deploy using Gunicorn
	optdepends = python-aiodns: for fast DNS resolving
	optdepends = python-brotli: for Brotli transfer-encodings support
	source = python-aiohttp::git+https://github.com/aio-libs/aiohttp#tag=v3.9.3
	source = git+https://github.com/nodejs/llhttp.git
	sha512sums = 68668a42748423a8ee14eba47ba68ffa6cec09e843fed3b14ea9c5b8a2a080b01c3f9c9478f99cf30ec6f465aac0913ef44238d456530f7d53e1b35741cb6846
	sha512sums = SKIP

pkgname = python-aiohttp
